.footer {
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  margin-top: 55px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  i {
    color: rgba(0, 0, 0, 0.3);
    font-size: 47px;
  }
  .footer__text {
    text-transform: uppercase;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.4);
  }
}
