.social-login {
  max-width: 400px;
  button {
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    i {
      font-size: 20px;
      padding: 2px 2px 5px 0;
      font-weight: 400;
    }
  }
  .social-login--github {
    margin-bottom: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
  }
  .social-login--facebook {
    background-color: #3b5998;
    color: white;
  }
}
