.record-container {
  margin-bottom: 30px;
  width: 100%;
  max-width: 400px;
  #jsVideoPreview {
    width: 100%;
    background-color: #444;
    margin-bottom: 10px;
  }
  #jsRecordBtn {
    background-color: #eb2f06;
    color: white;
  }
}
