mixin videoPlayer(video = {})
    .videoPlayer#jsVideoPlayer(tabindex="1")
        video(src=video.src)
        .videoPlayer__controls
            .videoPlayer__column
                span#jsPlayBtn
                    i.fas.fa-play
                span.videoTime
                    span#jsCurrentTime 
                        |00:00:00
                    |/
                    span#jsTotalTime 
                        |00:00:00
                span#volumeWrapper
                    span#jsVolumeBtn
                        i.fas.fa-volume-up
                    input.videoPlayer__volume#jsVolume(type="range", min="0", max="1", step="0.1", value="1")
            .videoPlayer__column
                span#jsFullScreen
                    i.fas.fa-expand
            .videoTimeRange
                input#jsTimeRange(type="range", name="timeRange", min="0")