.social-login
    button.social-login--github
        span
            a(href=routes.github)
                i.fab.fa-github
                |&nbsp;Continue with Github
    button.social-login--facebook
        span
            a(href=routes.facebook)
                i.fab.fa-facebook-square
                |&nbsp;Continue with Facebook
    button.social-login--kakao
        span
            a(href=routes.kakao)
                img(src="./static/kakao.png")
                |&nbsp;Continue with Kakao
    button.social-login--instagram
        span
            a(href=routes.insta)
                i.fab.fa-instagram
                |&nbsp;Continue with Instagram