.video-detail__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  button {
    max-width: 150px;
    margin-bottom: 25px;
    background-color: $chocolate;
    color: white;
  }
  .videoPlayer {
    margin-bottom: 20px;
    max-height: 420px;
    &:hover {
      .videoPlayer__controls {
        opacity: 1;
      }
    }
    video {
      min-height: 400px;
      width: 100%;
    }
    .videoPlayer__controls {
      opacity: 0;
      transition: opacity 0.3s linear;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 20px 20px;
      color: white;
      background-image: linear-gradient(to top, #333, rgba(0, 0, 0, 0.1));
      position: relative;
      bottom: 58px;
      z-index: 10;
      .videoPlayer__column:first-child {
        display: flex;
        align-items: center;
        span:first-child {
          margin-left: 20px;
          i {
            font-size: 16px;
          }
        }
        span:last-child {
          margin-left: 30px;
          font-size: 15px;
          font-weight: 600;
        }
      }
      .videoPlayer__column:last-child {
        justify-self: end;
        span:last-child {
          margin-left: 50px;
          margin-right: 20px;
        }
      }
      span {
        i {
          font-size: 19px;
          cursor: pointer;
        }
      }
    }
  }
  .video__title {
    font-size: 30px;
    font-weight: 600;
  }
  .video__description {
    font-size: 20px;
  }
  .video__info,
  .video__views,
  .video__title,
  .video__description,
  .video__author {
    margin-bottom: 15px;
  }

  .video__author {
    a {
      color: $chocolate;
      font-weight: 600;
    }
  }

  .video__comments {
    align-self: center;
    font-size: 17px;
    font-weight: 600;
  }
}
